/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
    background-color: #151515;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}


.main {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../static/img/render.png'); /* Path to your background image */
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding-bottom: 50px;
}

.buttons {
  position: relative;
  z-index: 1;
}

button {
  font-size: 1.5rem;
}
